@font-face { font-family: 'Haettenschweiler'; src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot'); 
				 src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot?#iefix') format('embedded-opentype'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.svg#Haettenschweiler') format('svg'),
				 url('../assets/fonts/haettenschweiler/haettenschweiler.woff') format('woff'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.ttf') format('truetype'); 
				 font-weight: normal; font-style: normal;
				 
}

input, select, textarea {
    color: #fff;
}


.dialog-popup{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    display: none;
    z-index: 5;
    margin-top: -10px;
    margin-left: -10px;
    
    font{
        opacity: 1;
        margin: auto;
        margin-top: 5%;
        color: #fff;
        left: 0;
        right: 0;
        top: 0;
        border: 0;
        display: block;
        text-align: center;
        padding: 0;
        font: 24px 'Haettenschweiler';
    }
    
    .btnTryAgain{
        opacity: 1;
        margin: auto;
        margin-top: 5%;
        color: #fff;
        background: #FF7F00;
        font:24px 'Haettenschweiler';
        border: 0;
        display: block;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }
    
}


input::-webkit-input-placeholder {
	//color: rgba(255,0,255,1); /* white color with alpha = 1 (alpha = opacity varies on a scale of 0 to 1 with decimal values in between) */
	
	color: #fff;
	//text-transform: capitalize;
	font-size: 20px;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: underline;  /* blink property doesn't work in chrome right now */
	
	border: 0;
	margin: 0;
}

input::-moz-placeholder {
	color: #fff;
	font-size: 20px;
	//text-transform: capitalize;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}

input:-moz-placeholder {   /* Older versions of Firefox */
	
	color: #fff;    /* alpha property doesn't properly work Firefox */
	
	font-size: 20px;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}
input:-ms-input-placeholder { 
	
	font-size: 20px;
	color: #fff;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}

.line-fullwidth{
	float: left;
	background: #fff;
	height: 2px;
	width: 100%;	
	clear: both;
}

@color-body:#DFDFD0;
@color-wrapper:#686859;

body {
	background: @color-body;

}

.segment{
	background: @color-wrapper;
	width: 50%;
	padding-bottom: 50px;
	font: 18px 'Haettenschweiler';
	margin:0 auto;
	
	.header{
		position:relative;
		h1{
			margin-left: 10px;
			color: #fff;
			margin-bottom: 0px;
		}
		
		.line-div{
			float: left;
			background: #fff;
			height: 2px;
			width: 500px;	
			clear: both;
		}
		
	}
	
	.content{
		
		position: relative;
		
		
		.contentWeight{
			position: relative;
			display: inline-block;
			width: 45%;
			height: 100px;
			overflow: hidden;
			
			ul{
				margin: 10px 0px 0px 10px;
				width: 100%;
				border: 0;
				padding: 0;
				height: auto;
				
				li{
				border: 0;
				padding: 0;
				margin: 0px 0px 10px 0px;
					
					.textInput{
						background: #73B9FF;
						width: 75%;
						height: auto;
						border: 0;
						margin: 0;
						padding: 5px 0 5px 10px;
						font: 20px 'Haettenschweiler';	
					}
					
					.textInputPassword{
						background: #868695;
						width: 75%;
						height: auto;
						border: 0;
						padding: 5px 0 5px 10px;
						font: 20px 'Haettenschweiler';	
					}
					
					.btnSave{
                        cursor: pointer;
						font: 20px 'Haettenschweiler';	
						border: 0;
						display: inline-block;
						overflow: hidden;
						padding: 10px 10px 10px 10px;
						background: #0080FF;
						color: #fff;
						
					}
					
					.btnCancel{
						.btnSave;
						background: #FF5C26;
						color: #fff;
						
					}
                    
                    .btnDelete{
						.btnSave;
                        float:right;
                        margin-right: 10px;
						background: #FF4000;
						color: #fff;
						
					}
				}
			}			
		}
		
		
	}
	
	.list{
		background: @color-wrapper;
		width: 100%;
		margin-bottom: 30px;
		font: 'Haettenschweiler';
		font-weight:normal;
		ul{
			border: 0;
			padding: 0;
			margin: 10px 0px 0px 10px;
			height: auto;
			
			
			li{
				border: 0;
				width: auto;
				padding: 0;
				display:inline-block;
				
				
				.listitem{
					background:#00A3D9;
					height: auto;
					width: auto;
					display: inline-block;
					
					h1{
						float: left;
						margin-left: 5px;
						margin: 0;
						padding:0;
						color: #FFFFFF;
						border: 0;
						margin-bottom: 0px;
						padding:5px 10px 5px 10px;
					}
					
					.image{
                        cursor: pointer;
						padding:14px 10px 5px 10px;
						float: left;
						width: 20px;
						height: 20px;
					}
					
				}
			}
		}
	}
    
    
	
}





