@font-face { font-family: 'Haettenschweiler'; src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot'); 
				 src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot?#iefix') format('embedded-opentype'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.svg#Haettenschweiler') format('svg'),
				 url('../assets/fonts/haettenschweiler/haettenschweiler.woff') format('woff'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.ttf') format('truetype'); 
				 font-weight: normal; font-style: normal;
				 
}

input, select, textarea {
    color: #000;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #fff;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            #fff;
  } 

@color-body:#DFDFD0;
@color-wrapper:#686859;

body {
	background: @color-body;
}
.segmentheader{
        background: @color-wrapper;
            .buttonHeader{
                cursor: pointer;
                color: #fff;
                font: 20px 'Haettenschweiler';	
                border: 0;
                overflow: hidden;
                padding: 10px 10px 10px 10px;
                background: #686859;
                color: #fff;
            }
    }