@font-face { font-family: 'Haettenschweiler'; src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot'); 
				 src: url('../assets/fonts/haettenschweiler/haettenschweiler.eot?#iefix') format('embedded-opentype'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.svg#Haettenschweiler') format('svg'),
				 url('../assets/fonts/haettenschweiler/haettenschweiler.woff') format('woff'), 
				 url('../assets/fonts/haettenschweiler/haettenschweiler.ttf') format('truetype'); 
				 font-weight: normal; font-style: normal;
				 
}

input::-webkit-input-placeholder {
	//color: rgba(255,0,255,1); /* white color with alpha = 1 (alpha = opacity varies on a scale of 0 to 1 with decimal values in between) */
	
	color: #fff;
	//text-transform: capitalize;
	font-size: 20px;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: underline;  /* blink property doesn't work in chrome right now */
	
	border: 0;
	margin: 0;
}

input::-moz-placeholder {
	color: #fff;
	font-size: 20px;
	//text-transform: capitalize;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}

input:-moz-placeholder {   /* Older versions of Firefox */
	
	color: #fff;    /* alpha property doesn't properly work Firefox */
	
	font-size: 20px;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}
input:-ms-input-placeholder { 
	
	font-size: 20px;
	color: #fff;
	//font-style: italic;
	//font-weight: normal;
	//letter-spacing: 0.1em;
	//line-height: 25px;
	//padding: 0px 10px;
	//text-align: left;
	//text-decoration: blink;
	//text-decoration: blink;
	
	border: 0;
	margin: 0;
}


body{
    background: #DFDFD0;
}

ul,li{
    border: 0;
    padding: 0;
    list-style-type: none;
}

.dialog-popup{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    display: none;
    z-index: 5;
    margin-top: -10px;
    margin-left: -10px;
    
    font{
        opacity: 1;
        margin: auto;
        margin-top: 5%;
        color: #fff;
        left: 0;
        right: 0;
        top: 0;
        border: 0;
        display: block;
        text-align: center;
        padding: 0;
        font: 24px 'Haettenschweiler';
    }
    
    .btnTryAgain{
        opacity: 1;
        margin: auto;
        margin-top: 5%;
        color: #fff;
        background: #FF7F00;
        font:24px 'Haettenschweiler';
        border: 0;
        display: block;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }
    
}

.segment{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    top: 30%;
    position: absolute;
    width: auto;
    margin-left: -126px;
    height: auto;
    min-height: 100px;
    background: #686859;
    
    font{
        color: #fff;
        border: 0;
        padding: 0;
        font: 24px 'Haettenschweiler';
    }
    
    .textInput{
        width: 200px;
        height: auto;
        border: 0;
        margin: 0;
        padding: 5px 0 5px 10px;
        font: 20px 'Haettenschweiler';	
    }
    
    .textInputPassword{
        width: 200px;
        height: auto;
        border: 0;
        margin: 0;
        padding: 5px 0 5px 10px;
        font: 20px 'Haettenschweiler';	
    }
    
    .btnLogin{
        float: right;
        color: #fff;
        background: #FF7F00;
        font:24px 'Haettenschweiler';
        border: 0;
        display: inline-block;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }
    
}