ul, li{
    display: block;
    padding: 0 0 0 0 ;
    
}
.container {
    box-shadow: 0px 0px 50px #888888;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width:1024px;
    width: 1024px;
    background: #2C3E50;   
}

.master-grid-container{
    position: relative;
    height: 1024px;
    background: #000;
}

.container .grid-container{
    background: #000;
    margin-top: 0;
    margin-right: 5px;  
    margin-left: 5px;
}


.pure-u-1-3 .grid{ 
   height: auto;
}



.orange {
    background: #F1C40F;
    margin-top: 10px;
    
}


.orange2 {
    background: #F39C12;    
    margin-top: 10px;
}

.orange3 {
    background: #E67E22;
    margin-top: 10px;
}

.grid .content-grid{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 98%;
    height: 300px;
}

.content-grid img{
    width: 100%; height:100%; position: absolute;
}

.content-header{
    position: relative;  padding-left: 5px;  width: auto; height: auto; background: #000; opacity: 0.5;
}

.content-header span{
    font-family: Consolas; opacity: 1; color: #fff; font-weight: bold; font-size: x-large;
}

.bottom-grid-menu{
    text-align: right;
    position: absolute; bottom: 0;   width: 100%; height: auto; background: #000; opacity: 0.9;
}

.bottom-grid-menu span{
    font-family: Consolas; margin-right: 10px; opacity: 1; color: #fff; font-weight: bold; font-size: 10pt;
}

.container .container-side{
    width: 0px;
    height: 100%;
    padding-bottom: 10px;
    box-shadow: 10px 10px 50px #000;
    position: absolute;
    float: left;
    z-index: 100;
    
    background: #1ABC9C;
}

.fieldset{
    position: relative;
    margin-top: 200px;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.fieldset input[type=text]{ 
    width: 90%;
    height: 40px;
    padding-left: 5px;
    font-size: 21pt;
    vertical-align: central;
    margin: 0;
    border-radius: 0;
    font-family: Consolas;
    box-sizing: border-box;
    line-height: 1.0;
    font-size: 20px;
    height: 50px;
    padding: 10px;
}

.fieldset textarea{
    width: 90%;
    height: 300px;
    padding-left: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 0;
    font-family: Consolas;
    border-radius: 0;
}

.fieldset input[type=file] {
    width: 150px;
    height: 150px;
    margin: 0; 
    left: 0;
    opacity: 0;
    position: absolute;
    font-size: 5px;
    cursor: pointer;
}

.fieldset .container-input-file{
    width: 150px;
    height: 150px;
    position: relative;
    float: left;    
    background: #E67E22;
    margin-top: 12px;
    margin-left: 24px;
    border-color: #fff;
    border-style: dashed;
}

.container-input-file .image-set{
    width: 100%; 
    height: 100%;
    visibility: hidden;
    position: absolute;
}

.image-set img{
    width: 100%; 
    height: 100%; 
    margin-bottom: auto; 
    margin-top: auto;
    bottom: 0; 
    top: 0; 
    right:0; 
    margin-right:auto; 
    margin-left:auto; 
    left:0; 
    display: block; 
    position: absolute;
}

.container-input-file .loading-upload{
    width: 100%;
    height: 100%; 
    opacity: 0.8; 
    display: none;
    position: absolute;
    background: #fff;
    
}

.loading-upload img{
    margin-bottom: auto; 
    margin-top: auto;
    bottom: 0; 
    top: 0;
    right:0; 
    margin-right:auto; 
    margin-left:auto; 
    left:0; 
    display: block; 
    position: absolute
}

.container-input-file span{
    text-align: center;
    position: absolute;
    font-size: 18pt;
    color: #fff;
    font-weight: bold;
    top: 30%;
    left: 0px;
}



